.hamburger {
  position: relative;
  z-index: 30;
  width: 25px;
  height: 15px;
  cursor: pointer;
  // タップ時の青いハイライトを消す
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  @include mq(pc) {
    display: none;
  }

  &__icon,
  &__icon::before,
  &__icon::after {
    position: absolute;
    display: block;
    width: 25px;
    height: 1px;
    content: '';
    background: $black;
    transition: all 0.4s;
  }

  &__icon {
    top: 8px;
  }

  &__icon::before {
    top: -6px;
    left: 0;
  }

  &__icon::after {
    top: 6px;
    left: 0;
    width: 20px;
  }

  .is-nav-open &__icon {
    background-color: transparent;

    &::before {
      background-color: $white;
      transform: translateY(6px) rotate(-45deg);
    }

    &::after {
      width: 25px;
      background-color: $white;
      transform: translateY(-6px) rotate(45deg);
    }
  }
}
